<p-table [rows]="7" [paginator]="true" [value]="actividades" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Fecha</th>
            <th>Nombre</th>
            <th> Detalle Actividad</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-actividades>
        <tr>
            <td>{{ actividades.createDate | date }}</td>
            <td>{{actividades.usuarioActividad.name + ' '+ actividades.usuarioActividad.lastName}}</td>

            <td>{{actividades.descripcionActividad}}</td>
        </tr>
    </ng-template>
</p-table>