/* You can add global styles to this file, and also import other style files */
.main-container ::ng-deep p-calendar .ui-datepicker-trigger.ui-button {
    min-width: 50% !important;
    z-index: 1000;
    transform-origin: center bottom !important;
    top: -132px !important;
    min-width: 100% !important
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
